* {
  margin: 0 auto;
}

body {
  font-family: "Bitgoeul_Light", sans-serif;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

@font-face {
  font-family: "InkLipquid";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bitgoeul_Medium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/Bitgoeul_Medium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bitgoeul_Light";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/Bitgoeul_Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bitgoeul_Bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/Bitgoeul_Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nanum Gothic";
  src: url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth; /* 부드러운 스크롤을 적용 */
  scroll-padding-top: 150px; /* 스크롤 시, 상단 여백을 100px로 설정 */
}
/* 비디오 크기 및 스타일 설정 */
video {
  width: 100vw; /* 뷰포트의 100% 너비 */
  height: 100vh; /* 뷰포트의 100% 높이 */
  object-fit: cover; /* 비디오를 화면에 맞추고 넘치는 부분을 잘라냄 */
  opacity: 1; /* 초기 불투명도 */
}

/* 비디오가 사라질 때 애니메이션 */
.fade-out {
  animation: fade-out-animation 2s ease forwards; /* 2초 동안 애니메이션 실행*/
}

/* 점점 불투명해지는 애니메이션 설정*/
@keyframes fade-out-animation {
  0% {
    opacity: 1;
  } /* 시작할 때 완전 불투명*/
  0.5% {
    opacity: 0.1;
  } /* 중간에서 반투명*/
  100% {
    opacity: 0;
  } /* 끝날 때 완전 투명 */
}

.header {
  top: 0px;
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.9); /* 투명도 살짝 추가*/
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 가벼운 그림자 추가 */

  display: flex;
  align-items: center;
  justify-content: center;
  /* --- 메인 페이지 모든 곳에 추가 해야되는 부분*/
  opacity: 0; /* 처음에는 숨김 */
  transition: opacity 2s ease; /* 서서히 나타나도록 애니메이션 */
}
/* header가 보이도록 설정 */
.show-header {
  opacity: 1; /* 완전히 보이게 */
}
/*메인 페이지 모든 곳에 추가 해야되는 부분  ---- */

.header-tab {
  height: 100px;
  width: 80%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.header-tab a {
  text-decoration: none;
  color: black;
  font-size: 1.125rem;
  font-weight: 500;
}

.header-tab a:hover {
  text-decoration: underline #fffccb 5px;
}

.header-tab a:active {
  text-decoration: underline #fff400 5px;
}

.header-logo {
  margin: 15px 60px 15px 70px;
  width: 200px;
  height: 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.banner {
  font-family: "InkLipquid";
  /* --- main 부분에 공통적으로 해줄 내용*/
  display: none;
  opacity: 0; /* 요소를 투명하게 만들어 보이지 않음 */
  transition: opacity 4s ease; /* 4초 동안 서서히 나타나도록 설정 */
  /* main 부분에 공통적으로 해줄 내용 --- */
  width: 100%;
  height: auto;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
}
/* --- main 부분에 공통적으로 해줄 내용*/
.show-banner {
  display: flex;
  flex-direction: column;
  opacity: 1; /* 완전히 불투명하게 설정 */
}
/* main 부분에 공통적으로 해줄 내용 --- */

.banner-text {
  font-size: 2.5rem;
  /* font-size: 3vw; */
  text-align: center;
  margin-top: 250px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}
/* --- 각 글자에 애니메이션 효과 */
.banner-text span {
  display: inline-block;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInMove 0.8s ease forwards;
}

@keyframes fadeInMove {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.banner-text span {
  display: inline-block;
  position: relative; /* position 추가 */
  /* transition: transform 4s, color 0.1s; */
  transition: transform 3s cubic-bezier(0.68, -0.55, 0.27, 1.55), color 0s; /* 글자의 움직임을 부드럽게 해주기 위해 cubic-bezier 사용 */
}

.banner-text span.hover-animation {
  transform: translateY(-20px) scale(1.5) !important;
  color: #fff400;
  /* transition: transform 0.3s, color 0.3s; */
}

/* 각 글자에 애니메이션 효과 ---- */

.banner-img {
  /* width: 1000px;
  height: 600px; */
  width: 100%;
  height: auto;
  max-width: 1000px; /* 최대 너비를 1000px로 설정 */
}

/* 메인상품 */
.carousel-container {
  position: relative;
  max-width: 800px; /* 전체 영역의 최대 폭 */
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products {
  overflow: hidden;
  width: 100%;
  max-width: 780px;
  height: auto;
  position: relative;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
}

.product-link {
  width: 100%;
  flex-shrink: 0; /* 하나의 이미지가 전체 폭을 차지하도록 설정 */
}

.product {
  width: 100%; /* 제품 이미지를 100% 너비로 설정 */
  height: auto;
  object-fit: contain;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 30px;
  height: 30px;
  opacity: 0.7;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 10;
}

.carousel-button.left {
  left: 20px;
}

.carousel-button.right {
  right: 20px;
}

.carousel-button:hover {
  opacity: 1;
  transform: translateY(-50%) scale(1.1);
}

/* 이벤트 */
.slider {
  position: relative;
  width: 100%;
  max-width: 780px;
  overflow: hidden;
  margin: 0 auto;
  border: none;
  border-radius: 10px;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
  gap: 10px; /* 슬라이드 간 간격 */
  padding: 0 5px; /* 왼쪽과 오른쪽에 여백 추가 */
}

.slide {
  min-width: calc((100% - 20px) / 3); /* 3개 카드가 딱 맞게 보이도록 계산 */
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box; /* 패딩과 마진을 포함해 박스를 계산 */
}

.slide.active {
  min-width: calc((100% - 20px) / 3 + 20px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  margin: 15px 0;
}

.slide img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px; /* slider와 pagination 사이의 간격 */
  font-family: Arial, sans-serif;
  max-width: 800px;
  width: 100%;
}

.progress-bar {
  flex-grow: 1;
  height: 4px;
  background-color: #e0e0e0;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  display: flex;
}

.progress-segment {
  flex-grow: 1;
  background-color: #ccc;
}

.progress-segment.active {
  background-color: #000;
}

.counter {
  margin-right: 10px; /* 기존의 오른쪽 여백 */
  margin-left: 10px; /* progress-bar와의 간격을 위한 왼쪽 여백 */
  font-size: 14px;
}

.controls button {
  background: none;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  cursor: pointer;
  font-size: 14px;
}
/* 유용한 정보 */

.section-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin: 0 0 30px 0px; /* 왼쪽 여백을 추가하여 왼쪽에 정렬 */
  text-align: left; /* 왼쪽 정렬 */
  width: 100%;
  max-width: 780px;
}

/* 섹션 스타일 */
#section01 {
  margin-bottom: 120px; /* 섹션 사이의 간격 줄임 */
}

/* 각 섹션에 공통 클래스를 추가 */
#section02,
#section03,
#section04 {
  padding-top: 20px;
  padding-bottom: 10px; /* 아래쪽 간격을 줄임 */
  margin-bottom: 120px; /* 섹션 사이의 간격 줄임 */
  /*-- 비디오 로딩 끝난 이후 보여지게 --*/
  /* --- 메인 페이지 모든 곳에 추가 해야되는 부분*/
  display: none;
  opacity: 0; /* 처음에는 숨김 */
  transition: opacity 2s ease; /* 서서히 나타나도록 애니메이션 */
}
.show-section02,
.show-section03,
.show-section04 {
  opacity: 1 !important; /* 완전히 보이게 */
  display: flex !important;
  flex-direction: column; /* 세로로 정렬 */
  align-items: center; /* 가로 중앙 정렬 */
  justify-content: center; /* 수직 중앙 정렬 */
}
/* 메인 페이지 모든 곳에 추가 해야되는 부분  ---- */

.informations {
  display: flex;
  gap: 20px;
  max-width: 800px; /* section03의 최대폭과 동일하게 설정 */
  margin: 0 auto;
  flex-wrap: wrap; /* 화면이 좁아질 때 줄바꿈 */
  justify-content: center; /* 카드들이 중앙 정렬되도록 설정 */
}

.card {
  background-color: #ffffff;
  border: 4px solid #cfe9f4;
  border-radius: 10px;
  padding: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: border-color 0.3s;

  /* 반응형 너비 설정 */
  flex: 1 1 30%; /* 기본적으로 3개 일렬로 배치되도록 설정 */
  max-width: 250px; /* 최대 너비를 250px로 제한하여 스타일 유지 */
  box-sizing: border-box;
}

/* 화면이 좁아질 때 반응형 설정 */
@media (max-width: 600px) {
  .card {
    flex: 1 1 100%; /* 화면이 좁아지면 카드가 아래로 쌓임 */
    max-width: 100%; /* 최대 너비도 100%로 설정하여 꽉 차게 표시 */
  }
}
.card:hover {
  border-color: #80bfff;
}

/* 텍스트 정렬 */
.card h3,
.card p {
  margin: 0;
  text-align: left; /* 텍스트 좌측 정렬 */
}

/* 이미지 전환 설정 */
.image-container {
  display: flex;
  justify-content: flex-end; /* 이미지 우측 정렬 */
  position: relative;
  margin-bottom: 10px; /* 이미지와 텍스트 사이 간격 */
}

.image-container img.static {
  display: block; /* 기본적으로 PNG 이미지만 표시 */
  width: 100px;
  height: 100px;
}

.image-container img.animated {
  display: none; /* GIF 이미지는 기본적으로 숨기기 */
  width: 100px;
  height: 100px;
}

/* Hover 상태에서 PNG 이미지를 숨기고 GIF 이미지를 표시 */
.image-container:hover .static {
  display: none;
}

.image-container:hover .animated {
  display: block;
}

/*----------------------footer 부분---------------------*/

.footer {
  margin: 0px;
  height: auto; /* 높이를 auto로 설정하여 컨텐츠에 맞게 늘어나도록 함 */
  padding: 200px 20% 200px 20%;
  align-content: center;
  flex-direction: column;
  text-align: left;
  display: none;
  opacity: 0; /* 요소를 투명하게 만들어 보이지 않음 */
  transition: opacity 4s ease; /* 4초 동안 서서히 나타나도록 설정 */
  min-width: 200px;
}

.show-footer {
  display: flex;
  opacity: 1; /* 완전히 불투명하게 설정 */
}

.footer-title {
  margin: 0px;
  flex-grow: 1;
  font-size: 1.75rem;
  padding-bottom: 50px;
}

.footer-bottom {
  flex-grow: 1;
  margin: 0px;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  height: auto; /* 높이를 auto로 설정하여 내부 내용에 맞게 늘어나도록 함 */
}

.footer-text1,
.footer-text2 {
  flex-grow: 1;
  margin: 0px;
  height: auto;
  font-size: 0.9375rem;
  align-content: center;
}

.footer-logo {
  margin: 0px;
  margin-left: 30px;
  width: 150px;
  height: 100px;
  background-color: transparent;
  background-image: url("../../main-page/src/images/ormlogo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* 미디어 쿼리 - 화면 크기별로 스타일 조정 */

/* 화면 크기가 1024px 이하일 때 */
@media (max-width: 1024px) {
  .header-tab {
    width: 90%; /* 헤더 크기 조정 */
  }
  .header-logo {
    margin: 15px 50px 15px 70px;
    width: 170px;
    height: 60px;
  }

  .header-tab a {
    font-size: 0.875rem;
  }

  .banner-text {
    font-size: 2rem; /* 배너 글씨 크기 조정 */
  }

  .section-title {
    font-size: 24px;
  }

  .footer-title {
    font-size: 1.125rem; /* 푸터 제목 글씨 크기 조정 */
  }

  .footer-bottom {
    flex-direction: column; /* 세로로 배치 */
    align-items: flex-start;
  }

  .footer-text1,
  .footer-text2 {
    font-size: 0.6875rem;
  }

  .footer-logo {
    width: 170px;
    height: 110px; /* 로고 크기 조정 */
    margin-left: 0;
  }
}

/* 화면 크기가 768px 이하일 때 */
@media (max-width: 768px) {
  .header-tab a {
    font-size: 10px;
  }
  .header-logo {
    margin: 15px 40px 15px 70px;
    width: 140px;
    height: 50px;
  }
  .banner-text {
    font-size: 1.5rem; /* 배너 글씨 크기 조정 */
    margin-top: 8rem;
  }
  .section-title {
    font-size: 1.125rem;
  }
  .footer-title {
    font-size: 1rem; /* 푸터 제목 글씨 크기 조정 */
  }

  .footer-logo {
    width: 140px;
    height: 100px; /* 로고 크기 조정 */
    margin-left: 0;
  }
}
