* {
    margin: 0 auto;
}

body {
    font-family: 'Bitgoeul_Bold', sans-serif;
}

@font-face {
    font-family: 'InkLipquid';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bitgoeul_Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/Bitgoeul_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nanum Gothic';
    src: url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');
    font-weight: normal;
    font-style: normal;
}


.section-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin: 0 0 20px 20px; /* 왼쪽 여백을 추가하여 왼쪽에 정렬 */
    text-align: left;
}
/* 레이아웃 설정 */
#section03 {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 카드 섹션 왼쪽 정렬 */
    padding: 20px;
}

.informations {
    display: flex;
    gap: 20px;
}

/* 카드 스타일 */
.card {
    background-color: #ffffff;
    border: 4px solid #CFE9F4; /* 카드 박스 선 색상과 굵기 설정 */
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    text-align: left; /* 텍스트 좌측 정렬 */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: border-color 0.3s;
}

.card:hover {
    border-color: #80BFFF;
}

/* 텍스트 정렬 */
.card h3, .card p {
    margin: 0;
    text-align: left; /* 텍스트 좌측 정렬 */
}

/* 이미지 전환 설정 */
.image-container {
    display: flex;
    justify-content: flex-end; /* 이미지 우측 정렬 */
    position: relative;
    margin-bottom: 10px; /* 이미지와 텍스트 사이 간격 */
}

.image-container img.static {
    display: block; /* 기본적으로 PNG 이미지만 표시 */
    width: 100px;
    height: 100px;
}

.image-container img.animated {
    display: none; /* GIF 이미지는 기본적으로 숨기기 */
    width: 100px;
    height: 100px;
}

/* Hover 상태에서 PNG 이미지를 숨기고 GIF 이미지를 표시 */
.image-container:hover .static {
    display: none;
}

.image-container:hover .animated {
    display: block;
} 