*{
    margin:  0 auto;
}
:root{

    --color-cancle: var(--color-gray);
    --color-tab: var(--color-blue);
    --color-button: var(--color-yellow);

    /*colors*/
    --color-blue: rgb(207, 233, 244);
    --color-gray:rgb(127, 127, 127);
    --color-yellow:rgb(255, 244, 0);
}



html {
  scroll-behavior: smooth;
}
button:focus {
  outline: 1px solid transparent;
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

body{
    font-family: 'Bitgoeul_Bold', sans-serif;
}

main.active{
    filter: brightness(.5);
    background-color: rgb(0, 0, 0, 0.7);
}
header.active{
   filter: brightness(.5);
   background-color: rgb(0,0,0, 0.7);
}

.header{
   position: relative;
    height: 100px;
  

}
.header .guide{
    
    border-bottom: solid 1px gray;
    background-color: white;
    z-index: 100;
    position: fixed;
    padding: 10px;
    display: flex;
    width: 100%;
    align-items: center;
}

.guide button{
    background-color: rgb(255, 255, 0);
    border: none;
    border-radius: 10px;
    font-weight: 800;
    font-size: 30px;
}
.line-tag{
    position: relative;
   
}
.line-tag .check-tab{
   
    position: absolute;
    top:-15px;
    text-align: center;
    width: 20px;
    border-radius: 20px;
    background-color: orangered;
    color: white;
    height: 20px;
    opacity: 0;
    transition: 0.5s;
}
.check-tab.active{
    opacity: 1;
}
/*section01*/


.line-tag button{
    background-color: var(--color-button);
    color: black;
    font-weight: 900;
        padding: 5px;
    border-radius: 10px;
    border: none;
    transition: 0.3s;
    font-size: 1.5rem;

    margin-right: 10px;
}
.line-tag button:hover{
    background-color: var(--color-gray);
}

/*section01*/

.box-inner{
    padding: 10px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    align-items: center;

}
/*img 부분*/
.box-img{
    width: 65%;
    height: 400px;
    position: relative;
    
}
.box-img div{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: 0.5s;
    object-fit: cover;
}
.box-img div img{
    width: 100%;
    height: 100%;

    border-radius: 10px;
 
}
input[type = "radio"] {
    display: none;
}

/*가상클래스*/
input[id = "tab1"]:checked ~  .box-set .box-img div:nth-child(1){
    opacity: 1;
}
input[id = "tab2"]:checked ~  .box-set .box-img div:nth-child(2){
    opacity: 1;
}

input[id = "tab3"]:checked ~  .box-set .box-img div:nth-child(3){
    opacity: 1;
}


input[id = "tab1"]:checked ~ .box-btn label[for = "tab1"] {
    background-color: var(--color-blue);
    color: #7f7f7f;
}
input[id = "tab2"]:checked ~ .box-btn label[for = "tab2"] {
      background-color: var(--color-blue);
    color: #7f7f7f;
}
input[id = "tab3"]:checked ~ .box-btn label[for = "tab3"] {
      background-color: var(--color-blue);
    color: #7f7f7f;
}
.box-set{
    display: flex;
}

.box-btn{
    
    height: 30px;
    width: 150px;
    margin-top: 2px;
    position: absolute;
    text-align: center;
    z-index: 2;
}
.box-btn label{
    position: absolute;
    border-radius: 10px;
    z-index: 10;
    cursor: pointer;
    background-color: rgb(14, 14, 13);;
    transition: 0.3s;
    color: wheat;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-btn label:nth-child(1){
    left: 10px;
    width: 25px;
    height: 25px;
}
.box-btn label:nth-child(2){
    left: 40px;
    width: 25px;
    height: 25px;
    
}
.box-btn label:nth-child(3){
    left: 70px;
    width: 25px;
    height: 25px;
}
.box-intro{
    display: inline-block;
    text-align: center;
    width: 50%;  
    height: 100%;
    
}
.box-intro .box-title{
    font-size: 2.5rem;
}

.box-intro .box-show{
    border-bottom: solid 1px;
    border-top: solid 1px;
    color: rgb(0, 0, 0, 0.6);
   padding: 15px;
    margin: 10px;
}
.box-share{
   padding: 1px;
   height: 70px;
}
.box-share i{
    margin-right: 10px;
    font-size: 2.5rem;
    float: right;
}
.box-icon1{
    
    font-size: 1rem;
}
.box-icon1 table{
    margin-top: 0;
    font-size: 1rem;
    width: 80%;

}
.box-icon1 th{
    padding: 2px;
}
/*section02*/
.section02{
    
    height: 300px;
    padding: 15px;
}
.section02-box{
    height: 100%;
    width: 100%;
    display: flex;
    
}

.box2-form button{
    width: 30px;
    height: 30px;
    border: none;
    background-color: var(--color-button);
    font-size: 1.2rem;
    border-radius: 2px;
    transition: 0.3s;
    margin-right: 10px;
}
.box2-form button:hover{

    background-color: var(--color-cancle);
}
.box2{
    align-items: center;
    justify-content: center;
}
.comment table{
    align-items: center;
    justify-content: center;
}
.comment th{
    font-size: 1.5rem;
}
.comment td{
    font-size: 1.5rem;
}
.box2{
   
    margin-left: 10px;
    padding: 10px;
    width: 60%;
    height: 260px;
    background-color: var(--color-tab);
    border-radius: 10px;
}
.box-comment{
    position: relative;
    top:50px;
    font-size:1.2rem;
}
.box-comment div{
    margin-top: 10px;
}
.comment span{
    margin-right: 10px;
    font-weight: 900;
}


.box2-img img{
    width: 100px;
    scale: 1.1;
    height: 100px;
}
.box2:nth-child(2) .comment{

    font-size: 1.8rem;
}
.box2-comment1{
    display: flex;
    position: relative;
    height: 100px;
    top:60px;
    font-size: 2rem;
}
.box2-comment1 .comment{
    height: 70px;
    
}

.check-box{
    transform: translateX(30px);
    display: flex;
    margin-top: 100px;
    font-size: 1.1rem;
}
/*box2- 세번째*/
.box2-form{
  
    width: 35%;
    height: 260px;
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
    background-color: var(--color-tab);
}
.box2-form ul{
    list-style: none;
}
.box2-form ul li{
    font-weight: 900;
    font-size: 1.1rem;
    margin-top: 2px;
}
.box2-title{
    font-weight: 900;
    font-size: 1.5rem;
}
/*예약하기*/
.box2-form ul li input{
    width: 95%;
    border-radius: 5px;
    border: none;
    padding: 3px;
}
.box2-submit{
    text-align: center;
}
.box2-submit button{
    margin-top: 10px;
    width: 40%;
    font-size: 1.1rem;
    background: rgb(255, 255, 0);
    border: none;
    transition: 0.3s;
    border-radius: 3px;
    font-weight: 900;
}
.box2-submit button:hover{
    background-color: rgb(31, 31, 30);
    color: rgb(136, 133, 132);
}

/*modal*/
.modal-1.active{
    opacity: 1;
    transition: 0.3s;
}
.modal-1{
    opacity: 0;
    position: absolute;
    top:50%;
    background-color: #CFE9F4;
    left: 50%;
    transform: translate(-50% , -50%);
    transition: 0.5s;
    width: 350px;
    border-radius: 20px;
    height: 350px;
}
.modal-box{
    background-color: #fff400;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 900;
    height: 70px;
}


.modal-1 ul, li{
    list-style: none;
    font-size: 1rem;
    font-weight: 900; 
}
.modal-list{
    padding: 10px;
}
.modal-list li{
    padding: 10px;
}
.modal-btn{

    margin-top: 20px;
    text-align: center;
}
.modal-btn button{
    cursor: pointer;
}
.modal-btn .checkBox{
    padding: 5px;
    border-radius: 4px;
    border: none;
    font-weight: 800;

    font-size: 1.5rem;
    background-color: #fff400;
    margin-left: 10px;
}
.modal-btn .cancle{
    margin-left: 10px;
    padding: 5px;
    border-radius: 4px;
    border: none;
    width: 100px;
    padding: 5px;
    background-color: #7f7f7f;
    font-size: 1.5rem;
}


/*지균님*/


@font-face {
    font-family: 'Bitgeoul_Light';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bitgoeul_Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/Bitgoeul_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bitgoeul_Medium';
    src: url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');
    font-weight: normal;
    font-style: normal;
}

.section-1 {
    padding: 30px;
}

.section-1 h1 {
    text-indent: 20px;
    margin-bottom: 10px;
}

.section-1 p {
    padding: 0;
    font-size: 15px;
    margin-bottom: 4px;
}

.section-1 p:nth-child(3) {
    font-weight: bold;
    text-align: center;
    padding: 30px;
    margin-bottom: 30px;
    /* border: 1px solid #000; */
}

.section-1 .subHeader {
    margin-bottom: 10px;
    font-size: 17px;
}

.section-1 .lastContent {
    margin-bottom: 40px;
}

.section-1 a {
    display: inline-block;
    margin-bottom: 20px;
}

.modal1,
.modal2,
.modal3,
.modal4 {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    position: fixed;
    left: 0;
    top: 0;
}

.modal iframe {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
}

span.modalCloseBtn {
    width: 50px;
    height: 50px;
    color: #fff;
    font-size: 60px;
    font-weight: bold;
    position: absolute;
    right: 30px;
    top: 100px;
    cursor: pointer;
}

.section03-title{
padding: 10px;
margin-left: 10px;
font-size: 1.5rem;
}

/*채팅*/
.comment-container{
    height: 70%;
    border-radius: 10px;
    background-color: var(--color-blue);
    margin-top: 20px;
    overflow: auto;
}
.chat-part{
    padding: 20px;
    height: 550px;
}
.chat-chart{
    padding: 15px;
    height: 90px;
    border-radius: 5px;
    background-color: rgb(203, 201, 201);
}
textarea{
    width: 100%;
    height:100%;
    resize: none;
}
.chat-btn{
    float: right;
    width: 120px;  
}
.chat-btn button{
    transition: 0.3s;
}

.camera:hover {
    background-color: var(--color-cancle);
}
.upload:hover{
    background-color: rgb(124, 124, 244);
}
.camera{
background-color: var(--color-button);
border: none;
border-radius: 2px;
width: 50px;
padding: 5px;
margin-right: 10px;
    
}
.upload {
    border-radius: 2px;
    border: none;
    background-color: var(--color-blue);
    padding: 5px;
}
/*댓글창*/

.chat-comment{
    margin-top: 10px;
   opacity: 1;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.chat-img{
   text-align: center;
    width: 70px;
    height: 70px;
}
.chat-img img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.chat input[type ="text"]{
    width: 100px;
    border-radius: 5px;
    border: none;
    padding: 3px;
    margin-bottom: 10px;
}
.chat-content{
    width: 80%;
}
.content-comment {
    height: 40px;
    transform: translateY(20px);
    padding: 5px;
   
    border-radius: 10px;
    background-color: white;
    text-align: center;
    align-items: center;
    display: flex;
    float: left;
    justify-content: center;
}
.like-btn{
    border-radius: 5px;
    padding: 5px;
    transition: 0.3s;
    font-size: 15px;
    border: none;
    background-color: #fff400;
}
.bomb-btn{
    font-size: 15px;
    border-radius: 5px;
    padding: 5px;
    border: none;
     transition: 0.3s;
    background-color: #fff400;
}
.like-btn i:hover{
    transition: 0.3s;
    color: red;
}
.bomb-btn i:hover{
      transition: 0.3s;
    color: blue;
}

.footer-title{
   
    padding: 20px;
    width: 80%;
    
}
.footer-bottom{
    font-size: 0.8rem;
    padding: 10px;
    display: flex;
   
    height: auto;
    
}
/*page*/
.reviewBox {
    padding: 15px;
}

.reviewBox h2 {
    margin-bottom: 20px;
    text-indent: 20px;
}

.review {
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin-bottom: 50px;
}

.gather {
    flex: 1;
}

.keywordsBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
    place-items: center;
}

.headKeywords {
    width: 90%;
    grid-column: span 1;
    background-color: #ebd8f8;
    border-radius: 4px;
    display: inline-block;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
}

.keywords {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    grid-column: span 2;
    place-items: center;
}

.Gradation {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 4px;
    background-image: linear-gradient(to right, rgb(221, 167, 235), rgb(236, 110, 199));
    opacity: 0.5;
}

.keywordText {
    width: 100%;
    background-color: #f5f5f5;
    display: block;
    padding: 10px;
    border-radius: 4px;
    position: relative;
}

.reviewViewport {
    width: 50%;
    position: relative;
    overflow: hidden;
    margin: auto;
}

.reviewContainers {
    flex: 1;
    display: flex;
    transition: transform 0.5s ease;
}

.keywords {
    width: 100%;
}

.bigBox {
    width: 96%;
    display: flex;
}

.keywordCount {
    width: 20%;
    transform: translateY(25%);
    margin-left: 5px;
}

.carouselButton {
    background-color: #aaa;
    opacity: 0.5;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
    position: absolute;
    z-index: 10;
}

.prevButton {
    left: 0;
}

.nextButton {
    right: 0;
}

.reviewContainer {
    width: 500px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    flex: 0 0 100%;
    box-sizing: border-box;
}

.reviewHeader {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.ratingBox {
    text-align: center;
}

.rating {
    color: #5c2bb6;
    font-size: 20px;
    margin-right: 10px;
}

.userInfo {
    color: #666;
    font-size: 0.9em;
}

.userInfo span {
    margin-right: 10px;
}

.reviewTitle {
    font-size: 1.1em;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
}

.reviewText {
    font-size: 1em;
    color: #333;
    line-height: 1.5;
    margin-bottom: 15px;
    font-style: italic;
}

.tags {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.tag {
    color: #555;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9em;
}

.photos {
    display: flex;
    gap: 10px;
}

.photos img {
    width: 33%;
    height: 100px;
    object-fit: fill;
    border-radius: 4px;
}

@media (max-width: 1199px) and (min-width: 768px) {

    .review {
        display: block;
        text-align: center;
    }

    .reviewViewport {
        width: 100%;
        margin-top: 10px;
    }
}

@media (max-width: 767px) {
    .review {
        display: block;
        text-align: center;
    }

    .review img:first-child {
        width: 100%;
    }

    .photos {
        display: block;
    }

    .photos img {
        width: 100%;
        height: auto;
        border-radius: 4px;
        margin-bottom: 5px;
    }

    .keywordsBox {
        display: block;
    }

    .keywords {
        display: block;
    }

    .headKeywords {
        display: block;
    }

    .keywordText {
        margin-top: 10px;
    }

    .reviewViewport {
        width: 100%;
        margin-top: 10px;
    }
}