*{
    margin:  0 auto;
    box-sizing: border-box;
    padding: 0;
}
.header{
    border-bottom: solid 1.5px;
    color: gray;
    padding: 10px;
}
.header .guide{
    display: flex;
    width: 70%;
    
    align-items: center;
}
.header .logo{
    font-weight: 800;
    font-size: 2rem;
    color: black;
}
.header button {
    padding: 5px;
    border-radius: 10px;
    border: none;
    font-size: 1.5rem;
    color: wheat;
    background-color: orangered;
    margin-right: 10px;
}

.section01{
    padding: 10px;
   
}
.line-tag{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    text-align: center;
}
.line-tag a{
    font-size: 1.5rem;
    font-weight: 900;
    color: black;
    text-decoration: none;
}
.line-tag button{
    background-color: rgb(221, 221, 8);
    color: black;
    font-weight: 900;
        padding: 5px;
    border-radius: 10px;
    border: none;
    transition: 0.3s;
    font-size: 1.5rem;

    margin-right: 10px;
}
.line-tag button:hover{
    background-color: rgb(136, 133, 132);
    color: black;
}

/*section01*/

.box-inner{
    padding: 10px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;

}
/*img 부분*/
.box-img{
    width: 65%;
    height: 400px;
    position: relative;
    
}
.box-img div{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: 0.5s;
    object-fit: cover;
}
.box-img div img{
    width: 100%;
    height: 100%;

    border-radius: 10px;
 
}
input[type = "radio"] {
    display: none;
}

/*가상클래스*/
input[id = "tab1"]:checked ~ .box-img div:nth-child(1){
    opacity: 1;
}
input[id = "tab2"]:checked ~ .box-img div:nth-child(2){
    opacity: 1;
}input[id = "tab3"]:checked ~ .box-img div:nth-child(3){
    opacity: 1;
}
input[id = "tab1"]:checked ~ .box-btn label[for ="tab1"]{
    background-color: wheat;
    color: orangered;
}

.box-btn{
    height: 30px;
    width: 100%;
    text-align: center;
    z-index: 2;
}
.box-btn label{
    border: solid 1px;
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    z-index: 10;
    cursor: pointer;
    background-color: rgb(31, 31, 30);;
    transition: 0.3s;
    color: wheat;
}
.box-btn label:hover {
    background-color: rgb(136, 133, 132);
}

.box-intro{
 
    display: inline-block;
    text-align: center;
    width: 50%;  
    height: 80%;
}
.box-intro .box-title{
    font-size: 2.5rem;
}

.box-intro .box-show{
    border-bottom: solid 1px;
    border-top: solid 1px;
    color: rgb(0, 0, 0, 0.6);
   padding: 15px;
    margin: 10px;
}
.box-share{
   padding: 1px;
   height: 70px;
}
.box-share i{
    margin-right: 10px;
    font-size: 2.5rem;
    float: right;
}
.box-icon1{
    font-size: 1rem;
}
.box-icon1 table{
    margin-top: 0;
    font-size: 1rem;
    width: 80%;

}
.box-icon1 th{
    padding: 2px;
}
/*section02*/



.section02{
    
    height: 300px;
    padding: 15px;
}
.section02-box{
    margin-top: 10px;
    height: 80px;
    width: 100%;
    display: flex;
    
}
.box2{
    align-items: center;
    justify-content: center;
}
.comment table{
    align-items: center;
    justify-content: center;
}
.comment th{
    font-size: 1.5rem;
}
.comment td{
    font-size: 1.5rem;
}
.box2{
    margin-left: 10px;
    padding: 10px;
    width: 50%;
    height: 260px;
    background-color: rgb(136, 133, 132);
    border-radius: 10px;
}
.box2 .comment{
    font-size:1.5rem;
}
.comment div{
    margin-top: 10px;
}
.comment span{
    margin-right: 10px;
    font-weight: 900;
}

.box2:nth-child(2) .box2-comment{
    display: flex;
}
.box2-img img{
    width: 100px;
    scale: 1.2;
    height: 200px;
   
}
.box2:nth-child(2) .comment{
    margin-top: 20px;
    font-size: 2rem;
}
.check-box{
    margin-left: 10px;
    
    font-size: 1.5rem;
    font-weight: 650;
}
/*box2- 세번째*/
.box2-form{
  
    width: 15%;
    height: 260px;
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
    background-color: rgb(136, 133, 132);
}
.box2-form ul{
    list-style: none;
}
.box2-form ul li{
    font-weight: 900;
    font-size: 1.1rem;
    margin-top: 2px;
}
.box2-title{
    font-weight: 900;
    font-size: 1.5rem;
   
}

.box2-form ul li input{
    width: 90%;
    border-radius: 5px;
    border: none;
    padding: 3px;
}
.box2-submit{
    text-align: center;
}
.box2-submit button{
    margin-top: 15px;
    width: 90%;
    font-size: 1.1rem;
    background: rgb(255, 255, 0);
    border: none;
    transition: 0.3s;
    border-radius: 3px;
    font-weight: 900;
}
.box2-submit button:hover{
    background-color: rgb(31, 31, 30);
    color: rgb(136, 133, 132);
}


