*{
    margin:  0 auto;
}
:root{

    --color-cancle: var(--color-gray);
    --color-tab: var(--color-blue);
    --color-button: var(--color-yellow);

    /*colors*/
    --color-blue: rgb(207, 233, 244);
    --color-gray:rgb(127, 127, 127);
    --color-yellow:rgb(255, 244, 0);
}



html {
  scroll-behavior: smooth;
}
button:focus {
  outline: 1px solid transparent;
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

body{
    font-family: 'Bitgoeul_Bold', sans-serif;
}

main.active{
    filter: brightness(.5);
    background-color: rgb(0, 0, 0, 0.7);
}
header.active{
   filter: brightness(.5);
   background-color: rgb(0,0,0, 0.7);
}

.header{
   position: relative;
    height: 100px;
  

}
.header .guide{
    
    border-bottom: solid 1px gray;
    background-color: white;
    z-index: 100;
    position: fixed;
    padding: 10px;
    display: flex;
    width: 100%;
    align-items: center;
}

.guide button{
    background-color: rgb(255, 255, 0);
    border: none;
    border-radius: 10px;
    font-weight: 800;
    font-size: 30px;
}
.line-tag{
    position: relative;
   
}
.line-tag .check-tab{
   
    position: absolute;
    top:-15px;
    text-align: center;
    width: 20px;
    border-radius: 20px;
    background-color: orangered;
    color: white;
    height: 20px;
    opacity: 0;
    transition: 0.5s;
}
.check-tab.active{
    opacity: 1;
}
/*section01*/


.line-tag button{
    background-color: var(--color-button);
    color: black;
    font-weight: 900;
        padding: 5px;
    border-radius: 10px;
    border: none;
    transition: 0.3s;
    font-size: 1.5rem;

    margin-right: 10px;
}
.line-tag button:hover{
    background-color: var(--color-gray);
}

/*section01*/

.box-inner{
    padding: 10px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    align-items: center;

}
/*img 부분*/
.box-img{
    width: 65%;
    height: 400px;
    position: relative;
    
}
.box-img div{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: 0.5s;
    object-fit: cover;
}
.box-img div img{
    width: 100%;
    height: 100%;

    border-radius: 10px;
 
}
input[type = "radio"] {
    display: none;
}

/*가상클래스*/
input[id = "tab1"]:checked ~  .box-set .box-img div:nth-child(1){
    opacity: 1;
}
input[id = "tab2"]:checked ~  .box-set .box-img div:nth-child(2){
    opacity: 1;
}

input[id = "tab3"]:checked ~  .box-set .box-img div:nth-child(3){
    opacity: 1;
}


input[id = "tab1"]:checked ~ .box-btn label[for = "tab1"] {
    background-color: var(--color-blue);
    color: #7f7f7f;
}
input[id = "tab2"]:checked ~ .box-btn label[for = "tab2"] {
      background-color: var(--color-blue);
    color: #7f7f7f;
}
input[id = "tab3"]:checked ~ .box-btn label[for = "tab3"] {
      background-color: var(--color-blue);
    color: #7f7f7f;
}
.box-set{
    display: flex;
}

.box-btn{
    
    height: 30px;
    width: 150px;
    margin-top: 2px;
    position: absolute;
    text-align: center;
    z-index: 2;
}
.box-btn label{
    position: absolute;
    border-radius: 10px;
    z-index: 10;
    cursor: pointer;
    background-color: rgb(14, 14, 13);;
    transition: 0.3s;
    color: wheat;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-btn label:nth-child(1){
    left: 10px;
    width: 25px;
    height: 25px;
}
.box-btn label:nth-child(2){
    left: 40px;
    width: 25px;
    height: 25px;
    
}
.box-btn label:nth-child(3){
    left: 70px;
    width: 25px;
    height: 25px;
}
.box-intro{
    display: inline-block;
    text-align: center;
    width: 50%;  
    height: 100%;
    
}
.box-intro .box-title{
    font-size: 2.5rem;
}

.box-intro .box-show{
    border-bottom: solid 1px;
    border-top: solid 1px;
    color: rgb(0, 0, 0, 0.6);
   padding: 15px;
    margin: 10px;
}
.box-share{
   padding: 1px;
   height: 70px;
}
.box-share i{
    margin-right: 10px;
    font-size: 2.5rem;
    float: right;
}
.box-icon1{
    
    font-size: 1rem;
}
.box-icon1 table{
    margin-top: 0;
    font-size: 1rem;
    width: 80%;

}
.box-icon1 th{
    padding: 2px;
}
/*section02*/
.section02{
    
    height: 300px;
    padding: 15px;
}
.section02-box{
    height: 100%;
    width: 100%;
    display: flex;
    
}

.box2-form button{
    width: 30px;
    height: 30px;
    border: none;
    background-color: var(--color-button);
    font-size: 1.2rem;
    border-radius: 2px;
    transition: 0.3s;
    margin-right: 10px;
}
.box2-form button:hover{

    background-color: var(--color-cancle);
}
.box2{
    align-items: center;
    justify-content: center;
}
.comment table{
    align-items: center;
    justify-content: center;
}
.comment th{
    font-size: 1.5rem;
}
.comment td{
    font-size: 1.5rem;
}
.box2{
   
    margin-left: 10px;
    padding: 10px;
    width: 50%;
    height: 260px;
    background-color: var(--color-tab);
    border-radius: 10px;
}
.box2 .comment{
    transform: translateY(10px);
    
    font-size:1.2rem;
}
.comment div{
    margin-top: 10px;
}
.comment span{
    margin-right: 10px;
    font-weight: 900;
}

.box2:nth-child(2) .box2-comment{
    display: flex;
}
.box2-img img{
    width: 100px;
    scale: 1.1;
    height: 100px;
   
}
.box2:nth-child(2) .comment{

    font-size: 2rem;
}
.check-box{
  
    margin-top: 60px;
    font-size: 1.5rem;
    font-weight: 650;
}
/*box2- 세번째*/
.box2-form{
  
    width: 30%;
    height: 260px;
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
    background-color: var(--color-tab);
}
.box2-form ul{
    list-style: none;
}
.box2-form ul li{
    font-weight: 900;
    font-size: 1.1rem;
    margin-top: 2px;
}
.box2-title{
    font-weight: 900;
    font-size: 1.5rem;
}
/*예약하기*/
.box2-form ul li input{
    width: 90%;
    border-radius: 5px;
    border: none;
    padding: 3px;
}
.box2-submit{
    text-align: center;
}
.box2-submit button{
    margin-top: 10px;
    width: 40%;
    font-size: 1.1rem;
    background: rgb(255, 255, 0);
    border: none;
    transition: 0.3s;
    border-radius: 3px;
    font-weight: 900;
}
.box2-submit button:hover{
    background-color: rgb(31, 31, 30);
    color: rgb(136, 133, 132);
}

/*modal*/
.modal-1.active{
    opacity: 1;
    transition: 0.3s;
}
.modal-1{
    opacity: 0;
    position: absolute;
    top:50%;
    background-color: #CFE9F4;
    left: 50%;
    transform: translate(-50% , -50%);
    transition: 0.5s;
    width: 350px;
    border-radius: 20px;
    height: 350px;
}
.modal-box{
    background-color: #fff400;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 900;
    height: 70px;
}


.modal-1 ul, li{
    list-style: none;
    font-size: 1rem;
    font-weight: 900; 
}
.modal-list{
    padding: 10px;
}
.modal-list li{
    padding: 10px;
}
.modal-btn{

    margin-top: 20px;
    text-align: center;
}
.modal-btn button{
    cursor: pointer;
}
.modal-btn .checkBox{
    padding: 5px;
    border-radius: 4px;
    border: none;
    font-weight: 800;

    font-size: 1.5rem;
    background-color: #fff400;
    margin-left: 10px;
}
.modal-btn .cancle{
    margin-left: 10px;
    padding: 5px;
    border-radius: 4px;
    border: none;
    width: 100px;
    padding: 5px;
    background-color: #7f7f7f;
    font-size: 1.5rem;
}


/*지균님*/


@font-face {
    font-family: 'InkLipquid';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bitgoeul_Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/Bitgoeul_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nanum Gothic';
    src: url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');
    font-weight: normal;
    font-style: normal;
}

.section-1 {
    padding: 30px;
}

.section-1 h1 {
    text-indent: 20px;
    margin-bottom: 10px;
}

.section-1 p {
    padding: 0;
    font-size: 15px;
    margin-bottom: 4px;
}

.section-1 p:nth-child(3) {
    font-weight: bold;
    text-align: center;
    padding: 30px;
    margin-bottom: 30px;
    /* border: 1px solid #000; */
}

.section-1 .subHeader {
    margin-bottom: 10px;
    font-size: 17px;
}

.section-1 .lastContent {
    margin-bottom: 40px;
}

.section-1 a {
    display: inline-block;
    margin-bottom: 20px;
}

.modal1,
.modal2,
.modal3,
.modal4 {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    position: fixed;
    left: 0;
    top: 0;
}

.modal iframe {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
}

span.modalCloseBtn {
    width: 50px;
    height: 50px;
    color: #fff;
    font-size: 60px;
    font-weight: bold;
    position: absolute;
    right: 30px;
    top: 100px;
    cursor: pointer;
}
